<div class="d-flex flex-row justify-content-between pb-5">
    <div></div>
    <div class="text-center">
        <button
                id="load-more-tricks"
                class="btn btn-lg btn-outline-light mt-5"
                data-route="{{ path("load_more_tricks") }}"
                data-offset="8"
        >
            loaD moRe
        </button>
    </div>
    <div>
        <a id="up" href="#app-tricks-section">
            <img id="up-icon" src="{{ asset('build/images/app-icon-arrow-up.svg') }}" height="60">
        </a>
    </div>
</div>
