<div class="modal fade" id="delete-trick-modal" tabindex="-1" aria-labelledby="delete-trick-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
            </div>
            <div class="modal-body">
                <p class="lead text-center">
                    Are you sure you want to delete<br>
                    <span id="trick-delete-name" class="fw-bolder text-danger">
                    </span>
                    trick ?
                </p>
            </div>
            <div class="modal-footer border-top-0 justify-content-center">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="trick-delete-submit" href="" class="btn btn-sm btn-outline-danger">Remove the trick</a>
            </div>
        </div>
    </div>
</div>
