{{ form_start(form, {'method': 'POST', 'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    {% include 'form/_input.html.twig' with {'formElm': form.password} %}
    {% include 'form/_input.html.twig' with {'formElm': form.plainPassword.first} %}
    {% include 'form/_input.html.twig' with {'formElm': form.plainPassword.second} %}
    <div class="mt-4">
        <button type="submit"  class="btn btn-outline-info w-100" formnovalidate>
            Change my password
        </button>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}