<div
    class="modal fade"
    id="app-image-modal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-black-50 border-0">
                <h5 class="modal-title">Change image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img id="crop-image" src="" alt="image">
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    undo
                </button>
                <button id="app-account-avatar-crop" type="button" class="btn btn-outline-info">
                    Change my image
                </button>
            </div>
        </div>
    </div>
</div>
