<div class="col trick-view-media-container">
    <div class="card bg-dark border-1 border-light add-media">
        <div class="card-body text-light p-4 d-flex justify-content-center align-items-center">
            <div class="text-center">
                <button
                    type="button"
                    id="add-image-button"
                    class="btn btn-outline-light"
                    data-bs-toggle="modal"
                    data-bs-target="#add-trick-image-modal"
                    data-route=""
                >
                    <i class="bi bi-plus"></i>
                    Add a new image
                </button>
                <button
                    type="button"
                    id="add-video-button"
                    class="btn btn-outline-light mt-4"
                    data-bs-toggle="modal"
                    data-bs-target="#add-trick-video-modal"
                    data-route=""
                >
                    <i class="bi bi-plus"></i>
                    Add a new video
                </button>
            </div>
        </div>
    </div>
</div>