<section id="trick-comments" class="mt-5 text-light">
    {% if app.user is not null or (app.user is null and not trick.comments.empty) %}
        <h2 class="mb-4 text-center fw-lighter display-4">
            com<span class="snow">Men</span>TS...
        </h2>
    {% endif %}
    {% if app.user %}
        <p class="text-center">
            {% include 'trick/_view_comment_form.html.twig' %}
        </p>
    {% endif %}
    <p
            id="trick-comments-container"
            data-route-load="{{ path('trick_view_comments', {'idTrick': trick.id}) }}"
            data-route-delete="{{ path('trick_comment_delete', {'idTrick': trick.id}) }}"
    >
    </p>
    <p class="text-center">
        <button
            id="load-more-comments"
            class="btn btn-sm btn-outline-info"
            data-limit="{{ constant('App\\Controller\\Trick\\TrickCommentController::COMMENTS_LIMIT') }}"
        >
            Load more...
        </button>
    </p>
</section>