<div class="modal fade" id="trick-view-image-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered rounded overflow-hidden">
        <div class="modal-content">
            <div class="modal-body m-0 p-0 position-relative text-center bg-dark">
                <div class="position-absolute top-0 end-0">
                    {# Close button #}
                    <button
                        type="button"
                        class="btn-lg btn-close btn-close-white m-2"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                    </button>
                </div>
                {# Image #}
                <img id="trick-view-image-modal-image" src="{{ asset('tricks_images/flips-cork-1.jpg') }}">
            </div>
        </div>
    </div>
</div>