{% for video in trick.videos %}
    <div class="col trick-view-media-container">
        <div class="card bg-dark border-1 border-light">
            <div class="media position-relative overflow-hidden">
                <iframe
                    class="overflow-hidden position-absolute top-0 start-0"
                    type="text/html"
                    src="{{ video.tag }}"
                    width="100%"
                    height="100%"
                    allowfullscreen
                    allow="autoplay; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                >
                </iframe>
            </div>
            {% if edit %}
                <div class="card-body text-light p-4">
                    <div class="text-end">
                        <button
                                type="button"
                                class="btn btn-outline-light change-video-button"
                                data-bs-toggle="modal"
                                data-bs-target="#add-trick-video-modal"
                                data-id="{{ video.id }}"
                        >
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button
                            type="button"
                            class="btn btn-outline-light remove-media-button"
                            data-bs-toggle="modal"
                            data-bs-target="#remove-trick-media-modal"
                            data-route="{{ path('trick_media_remove', {
                                'type':'App\\Entity\\TrickVideo',
                                'id': video.id
                            }) }}"
                        >
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}